@model IEnumerable<EPSPrintMgmt.Models.Printer>

@{
    ViewBag.Title = "Details";
}

<h2>Printer Options</h2>

<button id="ClearPrintJobs" class="btn btn-default">Clear All Print Jobs</button>
@if (ViewData["isEPSServer"].ToString() == "True")
{
    @Html.ActionLink("Edit EPS Printer", "Edit", new { printer = ViewData["thePrinter"] }, new { @class = "btn btn-default" })
}
else
{
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintServer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberJobs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tray)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrintServer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberJobs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tray)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div id="divProcessing">
    <p>Processing, please wait . . . <img src="../../Content/ajax-loader.gif"></p>
</div>
<div id="divResult">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            // Hide the "busy" Gif at load:
            $("#divProcessing").hide();
            $("#divResult").text("");

            $("#ClearPrintJobs").on("click", function (event) {
                event.preventDefault();
                // Show the "busy" Gif:
                $("#divProcessing").show();
                $("#divResult").text("");
                var thePrinter = '@ViewData["thePrinter"]';

                var url = $(this).attr("action");
                var formData = $(this).serialize();
                $.ajax({
                    url: "@Url.Action("PurgePrintQueueAllServers", "Printer")",
                    type: "POST",
                    data: { "Name": thePrinter },
                    dataType: "json",
                    success: function (resp) {

                        // Hide the "busy" gif:
                        $("#divProcessing").hide();
                        for (var i = 0; i < resp.length; i++) {
                            var mess = resp[i];
                            $("<h3>" + mess + "</h3>").appendTo("#divResult");
                        }

                    }
                })
            });
        });
    </script>
}